<div class="card mt-3">
    <div class="card-header">
        <div class="float-left">
            <h4>Cursos</h4>
        </div>
    </div>
    <div class="card-body">

        <form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
            <div class="form-row">
                <div class="col-sm-12">
                    <label for="nome">Nome do Curso</label>
                    <input type="text" class="form-control" id="nome" formControlName="nome" [ngClass]="{ 'is-invalid': submitted && hasError('nome')}" />
                </div>
            </div>
            <div style="margin-top: 10px" class="float-right">
                <button type="sumit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
            </div>
        </form>
    </div>
</div>